body {
  background: #5bafdf;
}

.app {
  max-width: 700px;
  margin: 100px auto;
  padding: 32px 20px;
  background: #ccb06f;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border-radius: 20px;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px 0px;
}

.todo-item {
  padding: 8px;
  border: 1px solid;
  font-size: 14px;
  background: #5bafdf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.todo-item p {
  width: 330px;
}

.todo-item-btn {
  display: flex;
  margin-left: 5px;
  flex-direction: row;
  gap: 4px;
}

.todo-form {
  display: flex;
  gap: 4px;
}

.todo-form input {
  width: 350px;
  height: 40px;
  background: #5bafdf;
  border: none;
  border-radius: 8px;
  padding: 0 10px;
}

.todo-form button {
  width: 100px;
  background: #5bafdf;
  border: 1px solid #2f6482;
  border-radius: 8px;
}

.app-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
